<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nossos filmes</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/materialdesign")
    @Styles.Render("~/Content/animatecss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/vuecomponents")
    @Scripts.Render("~/bundles/vuefilters")
    @Scripts.Render("~/bundles/materialdesign")
    @Scripts.Render("~/bundles/main")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
  />
    <script src="http://localhost:8098"></script>
</head>
<body>
   @Html.Partial("~/Views/Shared/_Navbar.cshtml")
    <div id="vueApp" v-cloak>
        <div class="loader-holder" v-if="isLoading">
            <pacman-loader class="my-loader" :color="'#bada55'" :loading="isLoading" :size="80" :sizeUnit="'px'"></pacman-loader>
        </div>
        <div class="container">
            @RenderBody()
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
