<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nossos filmes</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/nowuikit")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/nowuikit")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Scripts.Render("~/bundles/main")
    <script src="http://localhost:8098"></script>
</head>
<body>

    <div id="vueApp" v-cloak>
        <div class="loader-holder" v-if="isLoading">            
            <pacman-loader class="my-loader" :color="'#bada55'" :loading="isLoading" :size="80" :sizeUnit="'px'"></pacman-loader>
        </div>
        <div lass="container">
            @RenderBody()
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
